<h1>{{title}}</h1>

{{#message}}<p>{{this}}</p>{{/message}}

<form action="/login" method="POST" autocomplete>
	<p>
		<label for="username">Username</label><br/>
		<input type="text" id="username" name="username" value="{{username}}"><br/>
		{{#error.username}}<p style="color: red;">{{this}}</p>{{/error.username}}
	</p>


	<p>
		<label for="password">Password</label><br/>
		<input type="password" id="password" name="password" autocomplete><br/>
		{{#error.password}}<p style="color: red;">{{this}}</p>{{/error.password}}
	</p>
	
	<button type="submit">Login</button>
	{{#error.authentication}}<p style="color: red;">{{this}}</p>{{/error.authentication}}
	{{#error.server}}<p style="color: red;">{{this}}</p>{{/error.server}}
</form>

<p><a href="/register">Don't have an account?</a></p>
<p><a href="/recover">Forgot your password?</a></p>