<h1>{{title}}</h1>

{{#message}}<p>{{this}}</p>{{/message}}

<form action="/recover" method="POST" autocomplete>
	<p>
		<label for="email">Email</label><br/>
		<input type="text" id="email" name="email" value="{{fields.email}}"><br/>
		{{#errors.email}}
		<span style="color: red;">
			{{#if_eq this 'invalid'}}
				Email is invalid.
			{{else}}
				Email is missing.
			{{/if_eq}}
		</span>
		{{/errors.email}}
	</p>
	
	<button type="submit">Reset password</button>
	{{#errors.server}}
	<span style="color: red;">{{this}}</span>
	{{/errors.server}}
</form>

<a href="/login">Sign in</a>