<h1>{{title}}</h1>

{{#message}}<p>{{this}}</p>{{/message}}

<form action="/recover" method="POST" autocomplete>
	<p>
		<label for="email">Email</label><br/>
		<input type="text" id="email" name="email" value="{{fields.email}}"><br/>
		{{#errors.email}}
		<span style="color: red;">
			{{#if_eq this 'invalid'}}
				Email is invalid
			{{else}}
				{{this}}
			{{/if_eq}}
		</span>
		{{/errors.email}}
	</p>
	
	<button type="submit">Reset password</button>
	{{#error}}<p style="color: red;">{{this}}</p>{{/error}}
</form>

<a href="/login">Sign in</a>